/*
    CIS 376 - 01 ; Dr. Cumbie
    Jasmine Morgan, Carina Estrada, and Anthony Guerrero
    4/20/2026
    Description: Search and Filter App for Shortcuts.
*/

body {
    background-color: rgb(91, 5, 128);
    font-family: sans-serif;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;

}
#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

small {
    color: #666;
}
strong {
    color: #e4c518;
}